.container {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #f5f8fa;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.container h2 {
  color: var(--color-dark-blue);
  text-align: start;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 40px 10px 15px;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  color: var(--color-dark-blue);
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--color-dark-blue);
  outline: none;
}

.error {
  color: #d9534f;
  margin-bottom: 15px;
  font-weight: 600;
}

.success {
  color: #28a745;
  margin-bottom: 15px;
  font-weight: 600;
}

.passwordInputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-dark-blue);
  font-size: 1.2rem;
  user-select: none;
  z-index: 10;
}

.submitButton {
  padding: 0.7rem;
  align-self: flex-end;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

@media (max-width: 769px) {
  .container {
    max-width: 90vw;
    margin: 2rem auto;
    padding: 1rem;
  }

  .input {
    font-size: 0.95rem;
    padding: 10px 40px 10px 12px;
  }
}
